SECRET_KEY=tu-secret-key-super-secreta-aqui
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,agromaxapp-backend.onrender.com
DATABASE_URL=postgres://user:password@host:port/database
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://tu-frontend.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://tu-frontend.vercel.app

# Configuración de superusuario (opcional)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@agromaxapp.com
DJANGO_SUPERUSER_PASSWORD=tu-password-seguro
