asgiref==3.11.0
charset-normalizer==3.4.4
colorama==0.4.6
dj-database-url==2.2.0
Django==5.1.4
django-cors-headers==4.6.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
et_xmlfile==2.0.0
gunicorn==23.0.0
iniconfig==2.3.0
openpyxl==3.1.5
packaging==25.0
Pillow==11.0.0
pluggy==1.6.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytest==7.4.4
pytest-django==4.7.0
mockito==1.5.1
python-decouple==3.8
pytz==2025.2
reportlab==4.2.5
sqlparse==0.5.4
tzdata==2025.2
whitenoise==6.8.2
pypdf>=4.0.0
num2words==0.5.13
resend==2.0.0
